{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}
{% crispy batchForm batchForm.helper %}
{% load static %}

{% block title %} Batch Replace {% endblock %}

{% block content %}
<div class = 'container-fluid'>
	<form action = "{% url 'inventory:batchReplace' mySlug %}" method = "post" id = "swapForm">
		<div id = "form" class = 'form-group'>
			<div id = "innerForm">
				{% csrf_token %}
				<!-- {{form|crispy}} -->
				<input type = "hidden" name ="extra_field_count" value = "0">
				<div class = 'form-group row'>
					<div class = 'col-md-3'>
						{{form.name1}}
					</div>
				</div>
				<div class = 'form-group row'>
					<div class = 'col-md-3'>
						{{form.name2}}
					</div>
				</div>
			</div>
			<div>
				<button id = 'addField'> Add Field </button>
				<button id = 'swapAll'> Swap All </button>
			</div>
		</div>
	</form>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src = "{% static 'inventory/scripts/batchScript.js'  %}"> </script>
{% endblock %}