{% extends "inventory/base.html" %}
{% load inventory_extras %}

{% block title %} Showing all {{objectName}} {% endblock %}

{% block content %}

<div class = "container-fluid">

<table class = 'table table-striped table-bordered' id = 'inventory-table'>
	<thead>
		<tr>
			{% for field in listOfFields %}
			<th class = "col-1"> {{field}} </th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for obj in data %}
	    <tr>
			{% for value in obj.0 %} 
				<td> {{value}} </td>
			{% endfor %}
			<td class = "col-1">
				<a href = "{% url 'inventory:editObject' obj.1 %}"><button type="button" class="btn btn-primary">Edit</button></a>
				<div class="btn-group">
				  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    To Storage
				  </button>
				  <div class="dropdown-menu">
				    <a class="dropdown-item" href="{% url 'inventory:toStorage' mySlug=mySlug name=obj.0.0 room='1018' building='WWH' %}">WWH1018</a>
				    <a class="dropdown-item" href="{% url 'inventory:toStorage' mySlug=mySlug name=obj.0.0 room='411' building='WWH' %}">WWH41?</a>
				    <a class="dropdown-item" href="{% url 'inventory:toStorage' mySlug=mySlug name=obj.0.0 room='710' building='60FifthAve' %}">60FA7thFloor</a>
				    <a class="dropdown-item" href="{% url 'inventory:toStorage' mySlug=mySlug name=obj.0.0 room='310' building='60FifthAve' %}">60FA3rdFloor</a>
				  </div>
				</div>
			</td>
		{% endfor %}
		</tr>
	</tbody>
</table>

</div>

{% endblock %}