{% extends "inventory/base.html" %}
{% load inventory_extras %}

{% block title %} Showing all {{objectName}} {% endblock %}

{% block content %}

<div class = "container-fluid">

<table class = 'table table-striped table-bordered' id = 'inventory-table'>
	<thead>
		<tr>
			{% for field in listOfFields %}
			<th class = "col-1"> {{field}} </th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for obj in data %}
	    <tr>
			{% for value in obj.0 %} 
				<td> {{value}} </td>
			{% endfor %}
			<td class = "col-1"><a href = 'id={{ obj.1 }}'><button type="button" class="btn btn-secondary">Edit</button></a></td>
		{% endfor %}
		</tr>
	</tbody>
</table>

</div>

{% endblock %}