{% extends "inventory/base.html" %}

{% block title %} Inventory {% endblock %}

{% block content %}

<div class = "container"> 
<ul class = "list-group">
	<a href = "{% url 'inventory:displayAllObjects' 'desktops' %} " class="list-group-item list-group-item-action"> Desktops </a>
	<a href = "{% url 'inventory:displayAllObjects' 'notebooks' %}" class="list-group-item list-group-item-action"> Notebooks </a>
	<a href = "{% url 'inventory:displayAllObjects' 'printers' %}" class="list-group-item list-group-item-action"> Printers </a>
	<a href = "{% url 'inventory:displayAllObjects' 'peripherals' %}" class="list-group-item list-group-item-action"> Peripherals </a>
	<a href = "{% url 'inventory:displayAllObjects' 'stationaryProjectors' %}" class="list-group-item list-group-item-action"> Stationary Projectors </a>
	<a href = "{% url 'inventory:displayAllObjects' 'desktopScanners' %}" class="list-group-item list-group-item-action"> Desktop Scanners </a>
	<a href = "{% url 'inventory:displayAllObjects' 'dataCenterEquipment' %}" class="list-group-item list-group-item-action"> Data Center Equipment </a>
</ul>
</div>
{% endblock %}