{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}
{% load qr_tags %}
{% block title %} Inventory {% endblock %}

{% block content %}
<div class = 'container'>
	<div class = 'row'>
		<div class = 'col-md-3'>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Desktops</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		</div>
	
		<div class = 'col-md-3'>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Printers</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		</div>


		<div class = 'col-md-3'>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Notebooks</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		</div>
	

		<div class = 'col-md-3'>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Macs</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		</div>
	</div>

	<div class = 'row'>
		<div class = 'col-md-3'>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Peripherals</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		</div>

		<div class = 'col-md-3'>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Desktop Scanners</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		</div>


		<div class = 'col-md-3'>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Stationary Projectors</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		</div>


		<div class = 'col-md-3'>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Data Center Equipment</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		</div>
	</div>

</div>
{% endblock %}